<%= render partial: "shared/error", locals: { obj: @dog } %>    
<%= render partial: "form", locals: {method: "Uložit"} %> 

<div class="container">
    <%= link_to "Zpět na Váš účet", owner_path(current_owner), class: "btn btn-success" %>
</div> 












